<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

            <script>
                var selectedOrganisme = false;
                updatePermalink  = function () {
                    let service = document.getElementById("services").value;
                    //let organisme = document.getElementById("organismes").value;
                    let organisme = selectedOrganisme;
                    let annee = document.getElementById("annees").value;
                    let permalink = `${this.document.location.origin}/mpublisher/${service}/${organisme}/${annee}`;
                    let link = document.getElementById('permalink');
                    let iframe = document.getElementById('iframe');
                    link.href = permalink;
                    link.text = permalink;
                    iframe.src = permalink;
                }

                selectOrganisme = function (el) {
                    selectedOrganisme = el.dataset.siren;
                    document.getElementById("searchResult").innerText = el.innerText;
                    document.querySelectorAll("#organismes .filtered").forEach( a => a.classList.toggle("filtered"));
                    document.getElementById("mpSearch").value='';
                    updatePermalink();
                }
                </script>
    </head>
<body>
    <div class="main container-fluid">


<div class="row ">
    <div class="col">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Générateur de Permaliens MPUBLISHER</a>
            </div>

          </nav>

          <div class="permalink">
            <a id="permalink" href="" target="_blank"></a>
        </div>

        <p>
            Sélectionner un service et un organisme pour générer le lien permanent d'accès au service
        </p>

        <div class="card">
            <div class="card-body">
                <label for="services" class="form-label">Services :</label>
                <select id="services" class="form-control" name="services" onchange=updatePermalink()>
                    {% for name, service in services %}
                        <option value="{{ name }}">{{ service.title }}</option>
                    {% endfor %}
                </select>
                </br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input id="mpSearch" type="text" class="form-control" placeholder="Sélectionner un organisme (3 charactères minimun)" aria-label="Organisme" aria-describedby="basic-addon1">
                    <span id="searchResult" class="badge bg-info text-dark">Sélection vide</span>
                </div>
                <div class="list-group" id="organismes">
                    {% for organisme in organismes %}
                        <a href="#" data-siren="{{ organisme.properties.siren }}" onclick="selectOrganisme(this);" class="list-group-item list-group-item-action">{{ organisme.properties.organisme }}</a>
                    {% endfor %}
                </div>
                </br>
                <label for="annees" class="form-label">Années :</label>
                <select id="annees" class="form-control" name="annees" onchange=updatePermalink()>
                    {% for annee in annees %}
                        <option value="{{ annee }}">{{ annee }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>



</div>
<div class="col">

<iframe id="iframe" src="" width="100%" height="100%"></iframe>
</div>
</div>
<style>
    html, body, .main, .row {
        height:100%;
    }
    .permalink, p {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    .card {
        margin-left: 30px;
    }

    #organismes a {
        display:none;
    }

    #organismes a.filtered {
        display: block;
    }

    #searchResult {
        line-height: 2.5;
    }

</style>
</div>
<script>
     document.getElementById("mpSearch").addEventListener("keyup", function() {
        if (this.value.length < 3) {
            return;
        }
        const value = this.value.toLowerCase();

        const list = Array.from(document.querySelectorAll("#organismes a"));
        list.filter(function(el) {
            if (el.innerText.toLowerCase().indexOf(value) > -1) {
                el.classList.add('filtered');
            } else {
                el.classList.remove('filtered');
            }


        });

    });
</script>
</body>
</html>